*{
    box-sizing: border-box;
}
body{
    padding-left: 60px;
    background-color: aliceblue;
}
#chart_name{
    font-size: 40px;

}

#chart_body{
    background-color:white;
    border:3px solid rgb(220, 208, 208);
    width:200px;
    margin-right: 30px;
    margin-top:-30px;

}
#chart{
    
    width:700px;
    display:flex;
    flex-direction: row;
    
    
}
h4{
    height: 30px;
    width:auto;
    border: 1px solid green;
    position:relative;
    top: -25px;
    color: white;
    background-color: rgb(4, 74, 4);
    text-align: center;
    font-weight: 300;
}
.description{
    text-align: left;
    padding-left: 30px;
    position:relative;
    top:-30px;
}
#basic_button{
    background-color: green;
    color:white;
}
#orange{
    background-color: orange;
    color:white;

}
#f1{
    color: green;
}
